<html>
    <head>
        <title>test app</title>
    </head>
    <body>
        <!-- <script src = './static/index.js'></script> -->
        <!-- <script src = "{{url_for('static', filename = './node_modules/plotly.js-dist/plotly.js')}}"></script>
        <script src = "{{url_for('static', filename = 'index.js')}}"></script> -->
        <script src = '..//static/node_modules/plotly.js-dist/plotly.js'></script>
        <script src = '..//static/index.js'></script>

        <div id = 'figure'></div>
        <button id = 'btn-calc'>calculate</button>
    </body>
</html>